<DxPopup HeaderText="Delete Confirmation" @bind-Visible="@IsVisible">
    <Content>
        <p>
            Are you sure you want to delete this favorite?
        </p>
        <p>
            <button class="btn btn-danger" @onclick="DeleteFavorite">Delete</button>
            <button class="btn btn-light" @onclick="@(() => IsVisible = false)">Cancel</button>
        </p>
    </Content>
</DxPopup>

@code {
    [Parameter]
    public FavoriteDTO Favorite { get; set; }

    [Parameter]
    public EventCallback<Guid> OnDeleteConfirmed { get; set; }

    public bool IsVisible { get; set; }

    protected async Task DeleteFavorite()
    {
        IsVisible = false;
        await OnDeleteConfirmed.InvokeAsync(Favorite.Id);
    }
}
